<p id="notice"><%= notice %></p>

<h1>Agency name</h1>


<table>
  <thead>
    <tr>
      <th>Iata</th>
      <th>Month</th>
      <th>Year</th>
      <th>Negocio</th>
      <th>Revenue</th>
      <th>Cabina</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.each do |agency| %>
      <tr>
        <td><%= agency.iata %></td>
        <td><%= agency.month %></td>
        <td><%= agency.year %></td>
        <td><%= agency.negocio %></td>
        <td><%= agency.revenue %></td>
        <td><%= agency.cabina %></td>
        <td><%= agency.name %></td>
        <td><%= link_to 'Show', agency %></td>
        <td><%= link_to 'Edit', edit_agency_path(agency) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Listado json</h2>
<div ng-app="myApp" ng-controller="AgencyController">
  <ul>
    <li ng-repeat="x in months">
      {{ x.month }}
    </li>
  </ul>
  <h2>{{mensaje}}</h2>
</div>

<!-- <%= link_to 'New Agency', new_agency_path %> -->
